<div>
    <form [formGroup]="createFormProduct" (ngSubmit)="createProduct()">
        <fieldset class="form-group">
            <input
                formControlName="name"
                placeholder="name"
                class="form-control form-control-lg"
                type="text">
        </fieldset>
        <fieldset class="form-group">
            <input
                formControlName="price"
                placeholder="price"
                class="form-control form-control-lg"
                type="text" />
        </fieldset>
        <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Create</button>
    </form>
</div>